body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ad99c9;
}

.square {
  background: #dcdbdb;
  border: 2px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 9vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 9vw;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 32px;
}

@media (max-width: 600px) {
  .square {
    height: 10vw;
    width: 10vw;
    border: 1px solid #999;
    font-size: 20px;
  }

  .status {
    margin-bottom: 4vw;
    font-size: 20px;
  }
}
